*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.continer{
    background-image: url(./CF-570x312-Tourism-Preto-perola-Getty-Images-iStock-1011241694.jpg);
    background-position: center;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}
header {
    text-align: center;
    padding: 20px 70px;
    margin-left: 20px;
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul li{
    display:inline-block;
    background-color:rgb(233, 9, 9);
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    padding-left: 200px;
    margin-top: 20px;
    margin-left: 180px;
    padding-left: 40px;
    

   
}
ul li a{
    text-decoration:double;
    margin: 0 40x;
    color: aliceblue;
    
}



.content{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
.content .text{
    width: 40%;
    color: black;
}


.content .text p{
    font-size: 30px;
    margin:  20px 0;
    padding-top: 20px;
    padding-right: 80px;
    font-family: 'Times New Roman', Times, serif;
    padding-right:400px;
    
    
}
